<%
 const bodyContent = `
    <div class="countdown-container">
        <p id="countdown-timer">${revealTime}</p>
    </div>

    <div class="request-id">
        Request ID: ${requestId}
    </div>

    <div class="madeby">
        Made with Love by bhooten
    </div>

    <script type="application/javascript">
        const revealDate = new Date('${revealTime}');
    </script>
 `;
 %>

<%- include('./layout.ejs', {
  title: title,
  backgroundColor: backgroundColor,
  body: bodyContent
}) -%>