<!DOCTYPE HTML>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body id="body" style="background-color: <%= backgroundColor %>">
  <%- body %>
  <script type="application/javascript" src="/js/logic.js"></script>
</body>
</html>